:root {
	--padding: 0.5rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	gap: 1rem;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	a {
		text-decoration: none;
		text-transform: capitalize;
		font-size: calc(clamp(1rem, 1.5rem, 1.5vw) * 1.3);
		color: var(--foreground);
		padding: 0.5rem;
		border-radius: 0.5rem;

		&:first-child {
			margin-right: auto;
			aspect-ratio: 1;
			max-width: 70px;
		}

		&:hover {
			background: var(--accent);
		}
	}

	@media (max-width: 600px) {
		a {
			&:first-child {
				display: none;
			}
		}
	}
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 1px;
	height: 70vh;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: darkolivegreen;

	&.hero {
		--darken: rgb(0 0 0 / 50%);
		background-image: linear-gradient(var(--darken), var(--darken)), url("/img/hero.webp");
	}

	&.half {
		height: 40vh;
	}
}

main {
	--spacing: max(max(1rem, 4vw), 10vw);
	margin: 0 var(--spacing) 0 var(--spacing);
}

form.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: start;

	label {
		flex: 0 0 25%;

		input {
			margin-right: 1rem;
		}
	}
}

footer {
	--spacing: max(max(1rem, 4vw), 10vw);
	padding: 3rem var(--spacing) 3rem var(--spacing);
	background: #0a0a0a;

	div {
		display: flex;
		justify-content: end;
		gap: 3rem;
	}

	ul {
		list-style-type: none;

		li {
			color: var(--muted);
		}

		li, li a {
			text-transform: uppercase;
			font-size: calc(clamp(1rem, 1.5rem, 1.5vw) * 1);
			margin-top: 1.5rem;
		}

		li a {
			text-decoration: none;
			color: var(--foreground);

			&:hover {
				color: var(--accent);
			}
		}
	}

	img {
		aspect-ratio: 1;
		max-width: 70px;
	}
}
